################################################################################
################################################################################
##                                                                            ##
##                  [ V N K - V I N A  K N O W L E D G E ]                    ##
##                                                                            ##
##                   SITE  : https://www.vinaknowledge.com                    ##
##                   EMAIL : hvloi@vinaknowledge.com                          ##
##                                                                            ##
##                       TAN BINH DST, HCMC, VIET NAM                         ##
##                                                                            ##
##                      Copyright © 2019 Vina Knowledge                       ##
##                                                                            ##
################################################################################
################################################################################

##
# V N K  -  G I T  I G N O R E  F O R  R E P O S I T O R Y  H O M E  D I R
##

##------------------------------------------------------------------------------
# C O N T E N T
##

# Ignore commit message #
COMMIT.MSG

# No ignore README #
!README

# Ignore jtag files #
GPATH
GRTAGS
GTAGS

# Ignore VSCode setting #
.vscode

##
# E N D
##------------------------------------------------------------------------------
