# Ignore binary
*/bin/*.bin

# Ignore commit message
COMMIT.MSG

# Ignore build result
*/build/*

# No ignore README
!README

# No ignore build script
!vnk_mbuild

# Ignore jtag files:
GPATH
GRTAGS
GTAGS
